__pycache__/
*.pyc
.venv/
.pytest_cache/
.ruff_cache/
*.egg-info/
.local/
spark-warehouse/
metastore_db/
derby.log
# terraform
.terraform/
.build/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
